/* HERO */

.hero {
    background: linear-gradient(135deg, #0a9e6a, #11b687dc);
    padding: 80px 0;
}

.services-section {
    padding: 80px 0;
    background: #fafafa;
    text-align: center;
}

.section-title {
    font-size: 34px;
    margin-bottom: 12px;
}

.section-subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 50px;
}


/* GRID */

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 26px;
}


/* CARD */

.service-card {
    background: #fff;
    padding: 34px 28px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    text-align: left;
    border-top: 4px solid transparent
}

.service-card h3 {
    font-size: 20px;
    margin-bottom: 14px;
    color: #111;
}

.service-card p {
    font-size: 15px;
    color: #444;
}


/* HOVER EFFECT */

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-top: 4px solid #b89b3c;
}